<main>
  <h1>Add Cuisine to My Cookbook</h1>
      <a href="/cuisines">Back to Cuisines</a>

  <form method="POST" action="/cuisines">

    Name:<input type="text" placeholder="name" name="name" /> <br>
    Place of Origin:<input type="text" placeholder="placeOfOrigin" name="placeOfOrigin" /> <br>

    <input type="submit" value="Create Cuisine" />
  </form>
  
</main>