<main class="center">
  <header>
    <nav id="cuisineNav">

      <a href="/cuisines">Back to Cuisines</a>
      <a href="./{{cuisine.id}}/edit">Edit Cuisine</a>

    </nav>
    <H1>{{cuisine.name}} Cuisine Recipes </H1>

  </header>

  {{#each recipes}}
  <p> {{recipe.name}}</p>
  {{/each}}

  <form method="POST" action="/cuisines/{{cuisine.id}}?_method=DELETE">
    <input type="submit" value="Delete" />
  </form>

</main>