<main>
  <h1>EDIT Cuisine</h1>
         <a href="/cuisines/{{cuisine.id}}">Back to Cuisine</a>


  <form method="POST" action="/cuisines/{{cuisine.id}}?_method=PUT">

    Name:<input type="text" value="{{cuisine.name}}" placeholder="name" name="name" /> <br>
    Place of Origin:<input value="{{cuisine.name}}" type="text" placeholder="placeOfOrigin" name="placeOfOrigin" /> <br>

    <input type="submit" value="Create Cuisine" />
  </form>
  
</main>