<main>
    <header>

        <nav>
            <a href="/">Back to My Cookbook</a>
            <a href="/cuisines/new">Add New Cuisine</a>

        </nav>

        <H1>All Cuisines</H1>

    </header>

    {{#each cuisines}}
    <div class="cuisineContainer">
        <a href="/cuisines/{{ id }}" class="center cuisineNameLink ">
            <h2>{{ name }}</h2>
        </a>
        <h3>Place of origin: </h3>
        <p>
            {{placeOfOrigin}}
        </p>
        <h3> About: </h3>
        <p>
            {{about}}
        </p>
    </div>

    {{/each}}


</main>