<main>
    <H1>All Cuisines</H1>
    <ul>
        {{#each cuisines}}
        <li>
            <a href="{{ id }}">{{ name }}</a>
        </li>
        {{/each}}
    </ul>

    <a href="/">Back to My Cookbook</a>

</main>