<main>
    <H1>All Cuisines</H1>
    <ul>
        {{#each cuisines}}
        <li>
            <a href="/cuisines/{{ id }}">{{ name }}</a>
        </li>
        {{/each}}
    </ul>

    <a href="/">Back to My Cookbook</a>
    <a href="/cuisines/new">Add New Cuisine</a>

</main>