<main class='cuisines'>
    <header>

        <nav>
            <a href="/">Back to My Cookbook</a>
            <a href="/cuisines/new">Add New Cuisine</a>
            
        </nav>

        <H1>All Cuisines</H1>

    </header>

    {{#each cuisines}}
    <a href="/cuisines/{{ id }}" class="cuisineNameLink">
           <h3>{{ name }}</h3> 

            <p>
               Place of origin: {{placeOfOrigin}}
            </p>
            <p>
               About: {{about}}
            </p>
    </a>
    {{/each}}


</main>