{{!-- <form method="POST" action="/<TODO: models url here (e.g: /accounts)>"> --}}

<main>
  <header>
    <nav>
      <a href="/recipes">Back to Recipes</a>
    </nav>
    <h1>Add new recipe to My Cookbook</h1>
  </header>

  <form method="POST" action="/recipes">

    Name:<input type="text" placeholder="name" name="name" /> <br>
    Image: <input type="text" placeholder="image address" name="image" /> <br>
    Ingredients: <br>
    <textarea type="text" name="ingredients" cols="50" rows="10" />
    </textarea><br>
    {{!-- <form method="POST" action="/recipe.ingredients">
      Ingredients: <input type="text" placeholder="name" name="name" />
      Quantity:<input type="number" placeholder="quantity" name="quantity" />
      Unit of measurement:
      <select id="units" name="units">
        <option value="">Unit</option>
        <option value="ounce">Ounce</option>
        <option value="cup">Cup</option>
        <option value="pound">Pound</option>
        <option value="teaspoon">Teaspoon</option>
        <option value="tablespoon">Tablespoon</option>
        <option value="fluid ounce">Fluid Ounce</option>
      </select>
      <input type="submit" value="Add ingredients" />
    </form> --}}

    Cook time:<input type="number" placeholder="cooktime" name="cooktime" /><br>

    {{!-- Directions<input type="text" placeholder="directions" name="directions" /><br> --}}
    Directions: <br>
    <textarea type="text" name="directions" cols="150" rows="15" />
    </textarea><br>

    Comments:<br>
    {{!-- <input type="text" value="{{recipe.comment}}" name="comment" /> --}}
    <textarea type="text" name="comments" cols="150" rows="10" />
    </textarea><br>

    <input type="submit" value="Create Recipe" />
  </form>
</main>