{{!-- <form method="POST" action="/<TODO: models url here (e.g: /accounts)>"> --}}

<main>
  <h1>Add new recipe to My Cookbook</h1>
      <a href="/recipes">Back to Recipes</a>

  <form method="POST" action="/recipes">

    Name:<input type="text" placeholder="name" name="name" /> <br>
    Image: <input type="text" placeholder="image address" name="image" /> <br>

    {{!-- Ingredients:<input type="text" value="{{recipe.ingredients.name}}" placeholder="ingredients" name="ingredients" /><br> --}}
    {{!-- <form method="POST" action="/recipe.ingredients">
      Ingredients: <input type="text" placeholder="name" name="name" />
      Quantity:<input type="number" placeholder="quantity" name="quantity" />
      Unit of measurement:
      <select id="units" name="units">
        <option value="">Unit</option>
        <option value="ounce">Ounce</option>
        <option value="cup">Cup</option>
        <option value="pound">Pound</option>
        <option value="teaspoon">Teaspoon</option>
        <option value="tablespoon">Tablespoon</option>
        <option value="fluid ounce">Fluid Ounce</option>
      </select>
      <input type="submit" value="Add ingredients" />
    </form> --}}

    Cook time:<input type="number" placeholder="cooktime" name="cooktime" /><br>

    {{!-- Directions<input type="text" placeholder="directions" name="directions" /><br> --}}
    Directions:
    <textarea type="text" name="directions" cols="30" rows="10" />
    </textarea><br>

    Comments:<input type="text" placeholder="comments" name="comment" /><br>

    <input type="submit" value="Create Recipe" />
  </form>
</main>