<main>
    <h1>All Recipes</h1>
    <a href="/">Back to My Cookbook</a>
    <a href="/recipes/new">Add New Recipe</a>

    {{#each recipes}}
    <a href="/recipes/{{id}}">
        <ul>
            <li>
                <h3>
                    {{name}}

                </h3>
            </li>
        </ul>
        <img src="{{image}}" alt="Image of {{name}}">
    </a>
    {{/each}}

</main>