<main>
    <h1>All Recipes</h1>

    {{#each recipes}}
    <ul>
        <li>
            <a href="/recipes/{{id}}">
                <img src="{{image}}" alt="Image of {{name}}">
                {{name}}
            </a>
            
        </li>
    </ul>
    <p>all recipes</p>
    {{/each}}

    <a href="/recipes/new">Add New Recipe</a>

    <a href="/">Back to My Cookbook</a>
</main>