<main>
    <h1>My CookBook</h1>
    <header>
        <nav>
            <a href="../cuisines">Cuisines</a>
            <a href="../recipes">Recipes</a>
        </nav>
    </header>
    <img src="https://images.template.net/wp-content/uploads/2015/06/Blank-Cookbook-Template-Indesign.jpg"
        alt="cookbook image" class="cookbookImg">

</main>