<main>
    <h1>My CookBook</h1>
    <nav>
        <ul>
            <li><a href="../cuisines">Cuisines</a> </li>
            <li><a href="../recipes">Recipes</a> </li>
        </ul>
    </nav>

</main>