<main>
    <h1>My CookBook</h1>
    <nav>
        <ul>
            <li><a href="../cuisines">Cuisines</a> </li>
            <li><a href="../recipes">Recipes</a> </li>
        </ul>
    </nav>
    <img src="https://images.template.net/wp-content/uploads/2015/06/Blank-Cookbook-Template-Indesign.jpg" alt="cookbook image" class = "cookbookImg">

</main>