<main class="center">

  <header>
    <nav>
      <a href="/cookbooks">Veiw all Cookbooks</a>
      <a href="/">Cookbook Home</a>
    </nav>
    <h1>Add New Cookbook</h1>
  </header>

  <form method="POST" action="/cookbooks">
    Belongs To:<input type="text" placeholder="belongsTo" name="belongsTo" /> <br>
   Created On:<input type="text" placeholder="createdOn" name="createdOn" /> <br>
    <input type="submit" value="Create Cookbook" />
  </form>

</main>