<main>
    <header>

        <nav>
            <a href="/">Back to My Cookbook</a>
            <a href="/cookbooks/new">Add New Cookbook</a>

        </nav>

        <H1>All Cookbooks</H1>

    </header>
    {{#each cookbooks}}
    <h2>This cookbook belongs to {{ belongsTo }}.</h2>

    <div class="center">
        <a href="/cookbooks/{{ id }}" class="center ">


            <h3> Created on: </h3>
            <p>
                {{createdOn}}
            </p>
        </a>
    </div>

    {{/each}}


</main>